{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
{% block stylesheets%}
	{{ parent() }}
{% endblock%}

{% block body %}

	Hola Parámetro {{param1}}
	<br><br>

	{# este es un comentario.s#}

	{% set variable= 'Esto es una variable. ' %}

	{{ variable }}
	<br><br>

	{{ '1000000'|format_currency('EUR') }}

	<a href=" {{ path('index')}}"> Página  principal</a>
{% endblock%}

{% block javascripts%}

	{{ parent() }}
	
{% endblock%}
